#student-list-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: #363a4f;
  color: #cad3f5;

  overflow: auto;

  #filters {
    padding: 30px;
    padding-bottom: 15px;
  }

  #cohort-list {
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .cohort-container {
      display: flex;
      flex-direction: column;

      .cohort-parent {
        cursor: pointer;
        padding: 15px 0;

        &::before {
          content: "⮞ ";
        }
        &.expanded::before {
          content: "⮟ ";
        }
      }

      .student-list {
        margin: 0 10px;
        border-collapse: collapse;

        display: none;

        &.expanded {
          display: table;
        }

        .student-row {
          border-top: 1px solid #939ab7;
          border-bottom: 1px solid #939ab7;

          display: table-row;

          &:hover {
            background-color: #494d64;
          }

          .student-id, .student-name, .student-status, .student-link {
            display: table-cell;
            padding: 5px;
          }

          .student-link {
            color: #7dc4e4;
            cursor: pointer;
          }

          &.not-assessed {
            .student-status {
              color: #eed49f;
            }
          }

          &.clear {
            .student-status {
              color: #7dc4e4;
            }
          }

          &.moderate, &.severe {
            .student-status {
              font-weight: bold;

              &::before {
                content: "! ";
              }
            }
          }

          &.moderate {
            .student-status {
              color: #f5bde6;
            }
          }

          &.severe {
            .student-status {
              color: #ed8796;
            }
          }
        }
      }
    }
  }
}